body {
	background: #ff3838;
	font-family: 'Montserrat', sans-serif;
	color: white;
}

.navbar {
	font-size: 120%;
	vertical-align: middle;
	font-weight: 400;
	margin: 50px;
}

.navbar a {
	color: white;
	text-decoration: none;
	transition: font-size 0.25s;
	transition-timing-function: ease;
}

a:hover {
	font-weight: 600;
	font-size: 105%;
	color: #00FFD9;
}

.navbar li {
	display: inline-block;
}

#foo {
	margin-left: 30px;
}

#intro {
	list-style-type: : none;
	font-size: 200%;
	text-align: center;
	margin-top: 100px;
}

#intro h1 {
  margin: 0;
  padding: 0;
}

#intro li {
  display: inline-block;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
}

#intro h2 {
  font-size: 75%;
  margin-left: 150px;
  margin-right: 150px;
}


.footer {
	display: table;

	width: 100%;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;

	margin: 0px;
	padding-bottom: 30px;
}

.footer li {
	display: inline-block;
}

.right, .footer-right {
	float: right;
	padding-right: 50px;
}

.left, .footer-left {
	float: left;
	padding-left: 50px;
}

.link {
    position: relative;
    display: inline-block;
}

.link .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.link:hover .img-top {
    display: inline;
    top: -4px;
    left: -4px;
}

.footer-right .link:hover .img-top {
    display: inline;
    top: -2px;
    left: -2px;
}

@media only screen and (max-width: 768px) {
  	/* For mobile phones: */
  	#brand {
  		height: 50px;
  		width: 50px;
  	}

  	.navbar {
  		font-size: 100%;
  		vertical-align: middle;
  		font-weight: 400;
  		margin: 25px;
  	}

  	.navbar a {
  		color: white;
  		text-decoration: none;	
  	}

  	.navbar ul, li {
  		display: list-item;
  		list-style-type: none;
  		margin: 0px;
  		padding: 0px;
  	}

  	#foo {
  		margin-left: 20px;
  	}

  	a:hover {
  		font-weight: 400;
  		font-size: 100%;
  		color: #00FFD9;
  	}

  	#intro {
  		list-style-type: : none;
  		font-size: 200%;
  		text-align: center;
  		margin-top: 50px;
  	}

  	#intro h1 {
  	  margin: 0;
  	  padding: 0;
  	}

  	#intro h2 {
  	  font-size: 50%;
  	  margin-left: 50px;
  	  margin-right: 50px;
  	  line-height: 150%;
  	}

  	#intro li {
  	  display: inline-block;
  	  font-size: 20px;
  	  padding-left: 5px;
  	  padding-right: 5px;
  	  padding-top: 0px;
  	}

  	#intro img {
  		height: 50px;
  		width: 50px;
  	}

  	.footer {
  		/*width: 100%;
  		position: fixed;
  		bottom: 0px;
  		left: 0px;
  		right: 0px;

  		margin: 0px;
  		padding-bottom: 30px;*/
  		margin-top: 10px;
  	}

  	.footer-left, .footer-right {
  		margin: auto;
  		padding: 0;
  		float: none;
  		text-align: center;
  	}
}